#wp-admin-bar-cfdd_drafts_menu.loading {
	cursor: wait !important;
}
#wp-admin-bar-cfdd_drafts_menu.loading:before{ /* Firefox Compatibility */
	position: absolute;
	content: '\200B';
	width: 100%;
	top: 0;
	left: 0;
	text-align:center;
}

#cfdd_drafts_wrap {
	background: #444;
	border-top: 1px solid #999;
	border-bottom: 5px solid #666;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8), inset 0px 0px 4px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.8), inset 0px 0px 4px rgba(0,0,0,0.5);
	color: #fff;
	display: none;
	height: 400px;
	left: 0;
	max-height: 400px;
	overflow: auto;
	padding: 15px 0;
	position: fixed;
	top: 28px;
	width: 100%;
	z-index: 100;
}

#cfdd_drafts_wrap .cfdd_content {
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
	
	-webkit-column-gap:30px; /* Chrome, Safari, Opera */
	-moz-column-gap:30px; /* Firefox */
	column-gap:30px;
	
	-webkit-column-rule:1px solid #777777; /* Chrome, Safari, Opera */
	-moz-column-rule:1px solid #777777; /* Firefox */
	column-rule:1px solid #777777;
	
	margin: 0 15px 0 15px;
	padding-right: 15px
}

#cfdd_drafts_wrap .cfdd_content ul {
	list-style:none;
}

#cfdd_drafts_wrap a,
#cfdd_drafts_wrap a:visited {
	color: #fff;
}

#cfdd_drafts_wrap .nodrafts {
	cursor: default;
}
